---
layout: layout
---
<div class="container">
  <div class="row">
    <div class="col-md-3" style="text-align:center;">
      <div class="avatar">
           <img class="rounded-circle" src="{{ site.baseurl }}static/img/{{ site.avatar }}" alt="Responsive image" style="max-width: 70%; height: auto;">
      </div>
      <h5>Ryan Little</h5>
      {% include social.html %}
    </div>
    <div class="col-md-9">
      <h1><strong>Hello!</strong></h1>
      <p> I'm a PhD student in computer science at Boston University, advised by <a
      href="https://www.mvaria.com/">Mayank Varia</a>. I'm interested in cryptography and its applications in public policy and government. Previously I was an undergrad at Oregon State University, where I was
      fortunate to have worked with <a href="http://web.engr.oregonstate.edu/~rosulekm/">Mike Rosulek</a> on secure
      multi-party computation and with <a href="https://eecs.oregonstate.edu/people/Bobba-Rakesh">Rakesh Bobba</a> on a
      privacy-focused encryption scheme called <a href="https://photoencryption.org/">thumbnail-preserving
      encryption</a>.

      <p> Email me at
        <script> e1='ryan';
            e2='lit';
            e3='@';
            e4='bu.edu';
            email = e1 + e2 + e3 + e4;
            document.write('<a ' + 'href="mailto:' + email + '">' + email + '<\a>');
        </script>

    <!--
      </br>
      <h4><strong>Latest Publications</strong></h4>
      <p><a href="https://academic.oup.com/nar/article/49/D1/D480/6006196">
        UniProt: the universal protein knowledgebase in 2021</a></p>
      <h4><strong>Latest Articles</strong></h4>
      <p><a href="https://medium.com/@{{ site.username }}/3d-printing-protein-models-made-simple-dd902cd627ce">3D printing protein models made simple</a></p>
    -->
    </div>
  </div>
</div>
